<%= content_for :page_title, "Articles" %>
<br>
<div class="blog-header">
  <div class="container">
    <h1 class="blog-title">WebSeb Blog</h1>
    <p class="lead blog-description">A blog example showing some posts filled with Lorem Ipsum text.</p>
  </div>
</div>

<div class="container">
  <a href="<%= new_article_path %>">
    <button type="button">Create New Post</button>
  </a>
  <br><br>
  <div class="row">
    <div class="col-sm-8 blog-main">
      <% @articles.each do |article| %>
      <div class="blog-post">
        <h2 class="blog-post-title"><%= article.title %></h2>
        <p class="blog-post-meta">Last updated on
          <%= time_tag(article.updated_at) %>
          by
          <a href="#">Anonymous</a>
        </p>

        <p><%= article.text %></p>
        <br><br>
        <%= link_to 'Show', article_path(article) %>
        |
        <%= link_to 'Edit', edit_article_path(article) %>
        |
        <%= link_to 'Destroy', article_path(article),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %>
      </div>
      <!-- /.blog-post -->
      <% end %>
    </div>
    <!-- /.blog-main -->

    <div class="col-sm-3 offset-sm-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>About</h4>
        <p>This is the about section of the blog.</p>
      </div>
      <div class="sidebar-module">
        <h4>Links</h4>
        <ol class="list-unstyled">
          <li>
            <a href="#">GitHub</a>
          </li>
          <li>
            <a href="#">Twitter</a>
          </li>
          <li>
            <a href="#">Facebook</a>
          </li>
        </ol>
      </div>
    </div>
    <!-- /.blog-sidebar -->
  </div>
  <!-- /.row -->
</div>
